<div class="ui container">
  <div class="ui header">
    Filter by price
  </div>
  <div class="ui slider range">
    <input type="range" name="price" min="0" max="100">
    <div class="label">Any price</div>
  </div>
</div>
<div class="space"></div>
<div class="ui grid">
    <div class="sixteen wide column">
      <div class="ui header">
        Filter by tag
      </div>
    <div class="sixteen wide column">
      <div class="ui read-only checkbox">
        <input type="checkbox">
        <label>Indie</label>
      </div>
    </div>
    <div class="sixteen wide column">
      <div class="ui read-only checkbox">
        <input type="checkbox">
        <label>Action</label>
      </div>
    </div>
    <div class="sixteen wide column">
      <div class="ui read-only checkbox">
        <input type="checkbox">
        <label>Adventure</label>
      </div>
    </div>
  </div>
</div>
     
