<div class="ui three doubling stackable cards">
  <div class="ui card" *ngFor="let item of data">
    <div class="ui card-image">
      <figure class="image">
        <img [src]="item.image" class="ui large rounded image" alt="">
      </figure>
      <div class="ui top right attached red label">{{item.price}}</div>
    </div>
    <div class="content">
      <div class="header">
        <h3 class="title">{{item.title}}</h3>
      </div>
      <div class="paragraph">
        <div class="medium line">{{item.desciption}}</div>
      </div>
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
    <div class="extra content">
      <div class="ui primary button">
        Add
      </div>
      <div class="ui button">
        Delete
      </div>
    </div>
  </div>
</div>
