<div class="ui middle aligned center aligned grid" *ngIf="!isSignedIn">
  <div class="container">
    <h2 class="teal image header">
      <div class="content">
        Sign-Up to your account
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <input type="text" name="email" placeholder="Email address..." #email>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <input type="password" name="password" placeholder="Password..." #password>
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="ui fluid large teal submir button" (click)="onSignin(email.value, password.value)">Login</div>
      </div>
    </form>
    <div class="ui message">"New to us?"
      <a routerLink="/login">Sing Up</a>
    </div>
  </div>
</div>

