
<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">
      <img src="../assets/svg/icon.svg" alt="steam logo" class="item-toggle">
    </a>
    <a routerLink="/games" routerLinkActive="active" class="item">Games</a>
    <a routerLink="/library" routerLinkActive="active" class="item">Library</a>
    <a routerLink="/friends" routerLinkActive="active" class="item">Friends</a>
    <a routerLink="/profile" routerLinkActive="active" class="item">Profile</a>
    <div class="right menu">
      <div class="item">
        <app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>


<div class="ui middle aligned center aligned grid" *ngIf="!isSignedIn">
  <div class="container">
      <h2 class="teal image header">
        <div class="content">
          log-in to your account
        </div>
      </h2>
      <form class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <input type="text" name="email" placeholder="Email address" #email>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <input type="password" name="password" placeholder="Email address..." #password>
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="ui fluid large teal submir button" (click)="onSignin(email.value, password.value)">Login</div>
        </div>
      </form>
    <div class="ui message">"New to us?"
      <a href="#">Sing Up</a>
    </div>
  </div>
</div>


<div *ngIf="!isSignedIn">
  <h2>Sign up</h2>
  <input type="text" #emailSignup />
  <input type="text" #passwordSignup />
  <button (click)="onSignup(emailSignup.value, passwordSignup.value)">Sign up</button>
</div>
