
<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/login" class="item">
      <img src="../assets/svg/icon.svg" alt="steam logo" class="item-toggle">
    </a>
    <a routerLink="/games" routerLinkActive="active" class="item">Games</a>
    <a routerLink="/library" routerLinkActive="active" class="item">Library</a>
    <a routerLink="/friends" routerLinkActive="active" class="item">Friends</a>
    <a routerLink="/profile" routerLinkActive="active" class="item">Profile</a>
    <div class="right menu">
      <div class="item">
        <app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>





